.list-title{
    font-size:1.3rem;
    color: rgb(23,23,150);
    padding: 0 0.8rem;
}
.list-context{
    color:#777;
    padding:.8rem;
}
.list-icon{
    padding:.8rem 0;
    color:#AAA;
}
.list-icon span{
    display: inline-block;
    padding: 0 5px;
}